*[id^=choice] {
    background: white;
    border: 3px solid grey;
    border-radius: 3px;
    font-size: 150%;
    overflow-wrap: break-word;
}

body {
    background: url("../images/argyle.png");
}

h1 {
    color: white;
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 97%;
}

.questionCountContainer {
    float: right;
    width: 50%;
}

.quizContainer,
.scoreContainer,
.questionCountContainer {
    background: url("../images/paper.png");
    background: white;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 20px 0 0 0;
    padding: 20px;
}

.row>[id^=choice] {
    margin: 10px;
    padding: 50px;
    text-align: center;
}

.scoreContainer {
    float: left;
    width: 50%;
}

.stats {
    font-size: 200%;
    font-weight: bold;
    text-align: center;
}

#choice2,
#choice4 {
    float: right;
}

#choice1,
#choice3 {
    float: left;
}

#question,
#timer {
    font-size: 200%;
    font-weight: bold;
    margin: 0 0 20px 0;
}

#nextButton {
    float: right;
}